<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lucier.model">
    <resultMap type="com.lucifer.model.vote.WxInfo" id="WxInfoMap">
        <result column="wx_id" property="wxId"/>

        <result column="nick_name" property="nickName"/>
        <result column="avatar" property="avatar"/>

      
    </resultMap>
    <insert id="insertWxUser">
        insert into user
        (wx_id, nick_name,avatar,created_at,updated_at)
        values
        (#{wxId},#{nickName},#{avatar},now(),now())
    </insert>
    <select id="getWxUserByWxId"  resultMap="WxInfoMap">
        select * from user where wx_id=#{wxId}
    </select>


</mapper>