body{
    margin: 0;
    background-image: url(/web/images/bc.jpg);
    background-size: 100%;
    background-repeat:no-repeat;
}

.c-item {
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}