.news-nav {
    height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 40px;
    margin-top:0px;
}

.can-download{
    float: left;
    font-size: 14px;
}

.can-download img{
    width: 18px;
    height: 18px;
}

.can-download span{
    height: 18px;
    line-height:18px;
    margin-right:10px;
    float: left;
    color: #EB3D3C;
}

.no-download{
    float: left;
    font-size: 14px;
    color: #999;
}

.no-download img{
    width: 18px;
    height: 18px;
}

.no-download span{
    height: 18px;
    line-height:18px;
    margin-right:10px;
    float: left;
}
.detail-date-info{
    float: left;
}