body{
    margin: 0;
    //width: 750px;
}
.wrap{

}
.w-max{
    width:100%;
    padding-top: 20px;
}

.top-bg{
    background-image: url(/web/images/bg_top.jpg);
    background-size:100% 100%;
    background-repeat:no-repeat;
    height: 450px;
}

.logo{
     width: 84px;
     height: 84px;
     margin-left: 80px;
     margin-top: 20px;
     float: left;
}
.logo img{
    width: 84px;
    height: 84px;
}

.left-total{
    width: 180px;
    float: left;
    border: 1px solid rgba(255,255,255,.8);
    color: #373737;;
    text-shadow: none;
    box-shadow: none;
    height: 38px;
    margin-left: 120px;
    background-color: red;
    border-radius: 50px;
    text-align: center;
    line-height: 38px;
     margin-top: 50px;
}
.right-total{
    width: 180px;
    float: left;
    border: 1px solid rgba(255,255,255,.8);
    color: #373737;;
    background: 0;
    text-shadow: none;
    box-shadow: none;
    height: 38px;
    margin-left: 40px;
    background-color: red;
    border-radius: 50px;
    text-align: center;
    line-height: 38px;
    margin-top: 50px;
}

.m-bg{
    background-image: url(/web/images/bg_repeat.jpg);
    background-size:100% 100%;
    background-repeat: repeat;
   
}

.category-title{
     width: 297px;
     height: 93px;
     margin: 0 auto;
}

.category-title img{
     width: 297px;
     height: 93px;
}

.card-item{
     width: 43%;
     margin-top: 20px;

     background-color: white;
}

.card-img{
    width: 90%;
    height: 200px;
    margin: 10px auto;
}

.card-left{
    margin-left: 10px;
    float: left;
}

.card-right{
    margin-right: 10px;
    float: right;
}

.card-img img{
    width: 100%;
    height: 100%
}

.vote-count{
   width: 100%;
   height: 33px;
   line-height: 33px;
   margin: 0 auto;
   text-align: center;
}

.c-red{
   color: red;
}
.c-rosewood{
   color: #8B4513;
}

.source{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 33px;
   line-height: 33px;
}

.vote-btn{
    width: 150px;
     border: 1px solid rgba(255,255,255,.8);
     color: white;
     letter-spacing: 5px;
     background: 0;
     text-shadow: none;
     box-shadow: none;
     height: 38px;
     background-color: red;
     border-radius: 50px;
     text-align: center;
     line-height: 38px;
     margin: 0 auto 20px auto;
}