body{
    margin: 0;
    //width: 750px;
}
.wrap{

}
.w-max{
    width:100%;
    padding-top: 20px;
}

.top-bg{
    background-image: url(/web/images/bg_top.jpg);
    background-size:100% 100%;
    background-repeat:no-repeat;
    height: 450px;
}

.logo{
     width: 84px;
     height: 84px;
     margin-left: 80px;
     margin-top: 20px;
     float: left;
}
.logo img{
    width: 84px;
    height: 84px;
}

.left-total{
    width: 280px;
    float: right;
    border: 1px solid rgba(255,255,255,.8);
    color: #373737;;
    text-shadow: none;
    box-shadow: none;
    height: 58px;
    margin-right: 60px;
    background-color: red;
    border-radius: 50px;
    text-align: center;
    line-height: 58px;
     margin-top: 50px;
     font-size: 30px;
}
.right-total{
    width: 280px;
    float: right;
    border: 1px solid rgba(255,255,255,.8);
    color: #373737;;
    background: 0;
    text-shadow: none;
    box-shadow: none;
    height: 38px;
    margin-right: 80px;
    background-color: red;
    border-radius: 50px;
    text-align: center;
    line-height: 38px;
    margin-top: 50px;
}

.m-bg{
    background-image: url(/web/images/bg_repeat.jpg);
    background-size:100% 100%;
    background-repeat: repeat;
    padding-bottom: 100px;
}

.category-title{
     width: 297px;
     height: 93px;
     margin: 0 auto;
}

.category-title img{
     width: 297px;
     height: 93px;
}

.card-item{
     width: 48%;
     margin-top: 20px;

     background-color: white;
}

.card-img{
    width: 90%;
    height: 300px;
    margin: 10px auto;
}

.card-left{
    margin-left: 10px;
    float: left;
}

.card-right{
    margin-right: 10px;
    float: right;
}

.card-img img{
    width: 100%;
    height: 100%
}

.vote-count{
   width: 100%;
   height: 53px;
   line-height: 53px;
   margin: 0 auto;
   text-align: center;
   font-size: 28px;
}

.c-red{
   color: red;
}
.c-rosewood{
   color: #8B4513;
}

.source{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 53px;
   line-height: 53px;
   font-size: 28px;
}

.vote-btn{
    width: 70%;
     border: 1px solid rgba(255,255,255,.8);
     color: white;
     letter-spacing: 5px;
     background: 0;
     text-shadow: none;
     box-shadow: none;
     height: 58px;
     background-color: red;
     border-radius: 50px;
     text-align: center;
     line-height: 58px;
     margin: 40px auto 80px auto;
     font-size: 28px;
     -webkit-box-shadow:
         0 5px 0 #CC0000,
         0 15px 20px rgba(0,0,0,.35);
       -moz-box-shadow:
         0 5px 0 #CC0000,
         0 15px 20px rgba(0,0,0,.35);
       box-shadow:
         0 5px 0 #CC0000,
         0 15px 20px rgba(0,0,0,.35);
}